[core]
pager = delta
editor = nvim
excludesfile = ~/.gitignore_global

# [interactive]
# diffFilter = delta --color-only

[delta]
    side-by-side = true
    line-numbers = true
    syntax-theme = "Monokai Extended"  # Change this to your preferred theme
    navigate = true  # Enables navigation with arrow keys
    hyperlinks = true  # Enables clickable file paths
    width = 250 # Adjust width for better side-by-side view
    plus-style = "syntax #012800"  # Green for additions
    minus-style = "syntax #340001"  # Dark red for deletions
    zero-style = "syntax #1c1c1c"  # Dim gray for unchanged lines
    commit-decoration-style = "bold yellow box"
    file-style = "bold yellow ul"
    hunk-header-style = "bold cyan"

[interactive]
    keep-plus-minus-markers = false  # Makes diffs cleaner when staging

[merge]
  conflictstyle = diff3  # Provides more context for merge conflicts[merge]
  conflictstyle = diff3

[diff]
  external = difft
  colorMoved = default

[push]
autoSetupRemote = true

[includeIf "gitdir:~/proyectos/"]
path = ~/.gitconfig-personal

[includeIf "gitdir:~/.local/share/chezmoi/"]
path = ~/.gitconfig-personal

[alias]
st = status
co = checkout
br = branch
ci = commit
df = diff
lg = log --oneline --graph --decorate
amend = commit --amend
unstage = reset HEAD --
last = log -1 HEAD

[color]
ui = auto

[credential]
helper = cache
cacheTimeout = 3600
