[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default

[includeIf "gitdir:~/proyectos/"]
  path = ~/.gitconfig-personal

[push]
	autoSetupRemote = true
